<div>
    <div
        class="relative flex min-h-screen text-gray-800 antialiased flex-col justify-center overflow-hidden py-6 sm:py-12">
        <div class="relative py-3 sm:w-96 mx-auto text-center">
            <span class="text-2xl font-light ">Entre com sua conta</span>
            <div class="mt-4 bg-white shadow-md rounded-lg text-left">
                <div class="h-2 bg-blue-400 rounded-t-md"></div>
                <form action="/auth" method="post">
                    <div class="px-8 py-6 ">
                        <label class="block font-semibold">E-mail </label>
                        <input type="text" placeholder="Email" name="email"
                            class="border w-full h-5 px-3 py-5 mt-2 hover:outline-none focus:outline-none focus:ring-indigo-500 focus:ring-1 rounded-md">
                        <div class="flex justify-between items-baseline">
                            <button type="submit"
                                class="mt-4 bg-blue-500 text-white py-2 px-6 rounded-md hover:bg-blue-600 ">Log-in</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>